[program:ckan-archiver]
command=ckan --plugin=ckanext-archiver celeryd2 run bulk -c /etc/ckan/production.ini
process_name=%(program_name)s-%(process_num)s
numprocs={{ catalog_ckan_archiver_process_count }}
stdout_logfile=/var/log/ckan-archiver.log
redirect_stderr=true
autostart=true

[program:celery-mem-check]
command=/usr/bin/celery-mem-check.sh
stdout_logfile=/var/log/celery-mem-check.log
redirect_stderr=true
autostart=false
autorestart=false
