*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/

.DS_Store
.vagrant
secrets.yml
ansible-secret.txt
ansible/*.retry

# Ignoring symlinks
config/
src/

# Ignore everything in these directories
synced_folders/*

# Except this .gitkeep file
!synced_folders/.gitkeep

# Intellij
.idea
/.project
