*~
*#
.#*
\#*#
*.log
.*.sw[a-z]
*.un~
pkg/

.DS_Store
.env
.secrets/
.vagrant
secrets.yml
ansible-secret.txt
ansible/*.retry

# Ignoring symlinks
#config/
src/

# Ignore everything in these directories
synced_folders/*

# Except this .gitkeep file
!synced_folders/.gitkeep

# Intellij
.idea
/.project

# NetBeans
/nbproject/

# Ansible
vendor
authorized_keys
*.retry
ansible/inventories/ocsit
ansible/inventories/mgmt-ocsit

#SQL
*.sql
*.sql.gz
.data

# Terraform
/terraform/terraform.tfvars
.terraform
/terraform/pilot/terraform.tfstate.backup
/terraform/pilot/terraform.tfstate
/terraform/target
/cloud-formation/*/target
*.tfplan
*.tfstate
*.tfstate.backup
*.lock.info

__pycache__

gen-csr-out

# ansible-galaxy vendored roles
ansible/roles/vendor
.vscode/settings.json
