[defaults]
deprecation_warnings = False
vault_password_file = ~/ansible-secret.txt
roles_path = ansible/roles/software/catalog:roles/software/wordpress:roles/software/wordpress/vendor/roles:ansible/roles/software/ec2:roles/software/ec2:roles/software/common:roles/software/dashboard:roles/software/dashboard/vendor/roles:roles/software/crm:roles/software/crm/vendor/roles:ansible/roles/software/jekyll/vendor
nocows=1
