[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
molecule = {extras = ["docker"],version = "~=3.2.1"}
# Temporarily work-around issue in 4.3.0
ansible-lint = "<4.3.0"
ansible = "~=2.8.15"
selinux = "*"
pytest = "*"
testinfra = "*"
yamllint = "*"

[packages]
ansible = "~=2.8.15"
boto = "*"
# TODO https://github.com/GSA/datagov-deploy/issues/2770
# Pin cryptography to < 3.4
cryptography = "~=3.4.7"

[requires]
python_version = "3.6"

[scripts]
test = "molecule test --all"
