[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ansible-lint = "~=3.4.23"
molecule = "~=2.19.0"
docker-py = "*"

[packages]
ansible = "~=2.7.0"
boto = "*"

[requires]
python_version = "3.6"

[scripts]
test = "molecule test --all"
