#ckan core 
git+https://github.com/GSA/ckan.git@2.3-upgrade#egg=ckan

# ckanext-harvester extension
git+https://github.com/GSA/ckanext-harvest@2.3-upgrade#egg=ckanext-harvest

# ckanext-spatial extension
git+https://github.com/GSA/ckanext-spatial@2.3-upgrade#egg=ckanext-spatial

# ckanext-saml2 extension
git+https://github.com/GSA/ckanext-saml2@master#egg=ckanext-saml2

# ckanext-archiver extension
git+https://github.com/GSA/ckanext-archiver@2.3-upgrade#egg=ckanext-archiver

# ckanext-qa extension
git+https://github.com/GSA/ckanext-qa@2.3-upgrade#egg=ckanext-qa
