<VirtualHost 0.0.0.0:80>
    ServerName ckan 

    # CSW endpoint provided by pycsw
    # use one wsgi script and set configuration
    # based on request URI

    # default CSW, collection level metadata
    WSGIScriptAlias /csw /etc/ckan/pycsw.wsgi
    SetEnvIf Request_URI "/csw" PYCSW_CONFIG=/etc/ckan/pycsw-collection.cfg

    # full CSW, all metadata
    WSGIScriptAlias /csw-all /etc/ckan/pycsw.wsgi
    SetEnvIf Request_URI "/csw-all" PYCSW_CONFIG=/etc/ckan/pycsw-all.cfg


    WSGIScriptAlias / /etc/ckan/apache.wsgi

    # Pass authorization info on (needed for rest api).
    WSGIPassAuthorization On

    # Deploy as a daemon (avoids conflicts between CKAN instances).
    WSGIDaemonProcess ckan display-name=ckan processes=2 threads=15

    WSGIProcessGroup ckan

    <Directory /etc/ckan>
      Options All
      AllowOverride All
      Require all granted
    </Directory>

    ErrorLog /var/log/apache2/ckan.error.log

    LogFormat "\"%{True-Client-IP}i\" %h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" trueip
    SetEnvIf True-Client-IP "^.*\..*\..*\..*" akamai
    CustomLog /var/log/apache2/ckan.custom.log combined env=!akamai
    CustomLog /var/log/apache2/ckan.custom.log trueip env=akamai

    # fix Cross-Frame Scripting (XFS) vulnerability
    Header set X-Frame-Options "SAMEORIGIN"

    Header set Pragma "no-cache"
    Header set Expires "-1"
    Header set X-XSS-Protection "1; mode=block"
    Header set X-Content-Type-Options "nosniff"

    Header set Referrer-Policy "origin"

    # Header set Content-Security-Policy "default-src 'self'"

    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "POST, PUT, GET, DELETE, OPTIONS"
    Header set Access-Control-Allow-Headers "X-CKAN-API-KEY, Authorization, Content-Type"

    RewriteEngine On
    RewriteCond %{REQUEST_URI}     !^/user/(login|logged_in|_logout|logged_out|logged_out_redirect)
    RewriteCond %{REQUEST_URI}     !^/login_generic
    RewriteCond %{REQUEST_URI}     !^/_tracking
    RewriteCond %{HTTP_REFERER}    !{{saml2_idp_entry}} [NC]
    RewriteCond %{HTTP_COOKIE}     !auth_tkt
    RewriteRule ^(.*)$ {{ url_readonly }}$1 [R,L]


    RewriteRule ^/api/rest/dataset$ api/action/package_search [R]
    RewriteRule ^/api/1/rest/dataset$ api/3/action/package_search [R]
    RewriteRule ^/api/2/rest/dataset$ api/3/action/package_search [R]

    RewriteRule ^/api/action/package_list$ api/action/package_search [R]
    RewriteRule ^/api/3/action/package_list$ api/3/action/package_search [R]

    RewriteRule ^/api/action/current_package_list_with_resources$ api/action/package_search [R]
    RewriteRule ^/api/3/action/current_package_list_with_resources$ api/3/action/package_search [R]

    RewriteRule ^/api/3/action/resource_search$ api/action/package_search [R]
    RewriteRule ^/api/action/resource_search$ api/action/package_search [R]
</VirtualHost>
