NEW_RELIC_LICENSE_KEY="{{ newrelic_license_key }}"
NEW_RELIC_APP_NAME="{{ newrelic_app_name }}{{% if datagov_environment and datagov_environment != 'production' %} ({{ datagov_environment }}){% endif %}"
NEW_RELIC_MONITOR_MODE=true
NEW_RELIC_LOG=/var/log/new_relic.log
NEW_RELIC_LOG_LEVEL=info
NEW_RELIC_HOST=gov-collector.newrelic.com
CKAN_INI=/etc/ckan/production.ini
