[program:ckan-clean-deleted]
command=ckan --plugin=ckanext-geodatagov geodatagov clean-deleted -c /etc/ckan/production.ini
stdout_logfile=/var/log/ckan/clean-deleted.log
redirect_stderr=true
autostart=false
autorestart=false

[program:ckan-combine-feeds]
command=ckan --plugin=ckanext-geodatagov geodatagov combine-feeds
stdout_logfile=/var/log/ckan/combine-feeds.log
redirect_stderr=true
autostart=false
autorestart=false

[program:ckan-db-solr-sync]
command=ckan --plugin=ckanext-geodatagov geodatagov db_solr_sync
stdout_logfile=/var/log/ckan/db-solr-sync.log
redirect_stderr=true
autostart=false
autorestart=false

[program:ckan-export-csv]
command=ckan --plugin=ckanext-geodatagov geodatagov export-csv
stdout_logfile=/var/log/ckan/export-csv.log
redirect_stderr=true
autostart=false
autorestart=false

[program:ckan-havest-job-cleanup]
command=ckan --plugin=ckanext-geodatagov geodatagov harvest-job-cleanup
stdout_logfile=/var/log/ckan/harvest-job-cleanup.log
redirect_stderr=true
autostart=false
autorestart=false

[program:ckan-jsonl-export]
command=ckan --plugin=ckanext-geodatagov geodatagov jsonl-export
stdout_logfile=/var/log/ckan/jsonl-export.log
redirect_stderr=true
autostart=false
autorestart=false

[program:ckan-metrics-csv]
command=ckan --plugin=ckanext-geodatagov geodatagov metrics-csv
stdout_logfile=/var/log/ckan/metrics-csv.log
redirect_stderr=true
autostart=false
autorestart=false

[program:ckan-report]
command=ckan --plugin=ckanext-report report generate
stdout_logfile=/var/log/ckan/report.log
redirect_stderr=true
autostart=false
autorestart=false

[program:ckan-sitemap]
command=ckan --plugin=ckanext-geodatagov geodatagov sitemap-to-s3
stdout_logfile=/var/log/ckan/sitemap.log
redirect_stderr=true
autostart=false
autorestart=false

[program:ckan-tracking-update]
command=ckan tracking update
stdout_logfile=/var/log/ckan/tracking-update.log
redirect_stderr=true
autostart=false
autorestart=false

[program:qa-update-sel]
command=ckan --plugin=ckanext-qa qa update_sel
stdout_logfile=/var/log/ckan_qa.log
redirect_stderr=true
autostart=false
autorestart=unexpected

[program:qa-update]
command=ckan --plugin=ckanext-qa qa update
process_name=%(program_name)s-%(process_num)s
numprocs={{ catalog_ckan_qa_update_process_count }}
stdout_logfile=/var/log/qa-update.log
redirect_stderr=true
autostart=false
autorestart=unexpected
