name: SSH Invalid user ssh connection attempt
type: frequency
index: logstash-*
num_events: 5
timeframe:
    minutes: 15
filter:
- query:
    query_string:
      query: 'message: "Invalid user" AND @log_name: es.authlog'
alert:
- "slack"
slack_webhook_url:
- {{ slack_webhook_url }}
