amqp==1.0.13
amqplib==1.0.2
anyjson==0.3.3
Babel==0.9.6
Beaker==1.6.4
boto==2.48.0
celery==2.4.2
chardet==2.3.0
-e git+https://github.com/GSA/ckan.git@3ef06a35dfe51ec8ecb1a56fa6c372568e3f039a#egg=ckan
-e git+https://github.com/GSA/ckanext-archiver@bb4d85b5db628cd2a6d576c3fde79ddc0d9b5952#egg=ckanext_archiver
-e git+https://github.com/GSA/ckanext-datagovtheme@4eea2c54bed9d1e3e679411bbc5b0730eb1a03c9#egg=ckanext_datagovtheme
-e git+https://github.com/GSA/ckanext-datajson@3205ba3f9af9c37fb0adaed3023c701c23c5cc21#egg=ckanext_datajson
-e git+https://github.com/GSA/ckanext-extlink@69629853f6c7aa4f94c105c5efd76380d70f0843#egg=ckanext_extlink
-e git+https://github.com/GSA/ckanext-ga-report@7d32eac6db1bc68dd8f3f96f14c6fd3aeec902a9#egg=ckanext_ga_report
-e git+https://github.com/GSA/ckanext-geodatagov@80b72945926134f0d9d3fb59741284332672cac4#egg=ckanext_geodatagov
-e git+https://github.com/GSA/ckanext-googleanalyticsbasic@0b90194d77938e59ecb7d6937c201bd6815447f8#egg=ckanext_googleanalyticsbasic
-e git+https://github.com/GSA/ckanext-harvest@2311ea86d1a6ca6c8be294a037d0cbe7d303922b#egg=ckanext_harvest
-e git+https://github.com/GSA/ckanext-qa@2b3353cb3a36e021de448b7d280165a3dbfcf728#egg=ckanext_qa
-e git+https://github.com/GSA/ckanext-report@f16607e700db67645734257a0c3ac74f4cbdb718#egg=ckanext_report
-e git+https://github.com/GSA/ckanext-saml2@0e1f11cb3b211e6d337b86ffe7c07620821f7d7d#egg=ckanext_saml2
-e git+https://github.com/GSA/ckanext-spatial@2a25f8d60c31add77e155c4136f2c0d4e3b86385#egg=ckanext_spatial
decorator==3.4.0
fanstatic==0.12
Flask==1.0
FormEncode==1.2.6
gdata==2.0.18
Genshi==0.6
GeoAlchemy==0.7.2
GeoAlchemy2==0.2.6
geolinks==0.2.0
google-api-python-client==1.4.1
html5lib==0.9999999
httplib2==0.11.3
Jinja2==2.6
json-table-schema==0.2.1
jsonschema==2.4.0
kombu==2.5.0
kombu-sqlalchemy==1.1.0
LEPL==5.1.3
lxml==3.5.0
M2Crypto==0.23.0
Mako==0.9.0
MarkupSafe==0.18
meld3==1.0.2
messytables==0.15.2
nose==1.3.0
oauth2client==1.4.12
ofs==0.4.1
-e git+https://github.com/GSA/OWSLib.git@71a43028777bc982d993876d925699af830e2839#egg=OWSLib
Pairtree===0.7.1-T
passlib==1.6.2
Paste==1.7.5.1 # this is important for native login
PasteDeploy==1.5.0
PasteScript==1.7.5
pbr==0.8.2
pika==0.9.8
ply==3.4
progressbar==2.3
psycopg2==2.4.5
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycsw==1.10.5
Pygments==2.1
Pylons==0.9.7
pyparsing==1.5.6
pyproj==1.9.3
-e git+https://github.com/GSA/pysaml2.git@8b605c824ff1d042e9040a9971c28f369197cac2#egg=pysaml2
python-dateutil==1.5
python-magic==0.4.12
python-memcached==1.48
pytz==2016.1
pyutilib.component.core==4.5.3
PyYAML==3.11
-e git+https://github.com/asl2/PyZ3950.git@c2282c73182cef2beca0f65b1eb7699c9b24512e#egg=PyZ3950
redis==2.10.1
repoze.lru==0.6
repoze.who==2.0 # this is important for native login
repoze.who-friendlyform==1.0.8
requests==2.6.0
rfc3987==1.3.5
Routes==1.13
rsa==3.4.2
Shapely==1.3.1
simplejson==3.3.1
six==1.7.3
solrpy==0.9.5
SQLAlchemy==0.9.6
sqlalchemy-migrate==0.9.1
sqlparse==0.1.11
supervisor==3.2.2
Tempita==0.5.2
unicodecsv==0.9.4
uritemplate==3.0.0
vdm==0.13
WebError==0.10.3
WebHelpers==1.3
WebOb==1.0.8
WebTest==1.4.3
Werkzeug==0.11.4
xlrd==1.0.0
zope.interface==4.5.0
