name: SSH auth Invalid user alert
type: any
index: logstash-*
filter:
- query:
    query_string:
      query: "message: sudo AND @log_name: es.authlog"
alert:
- "slack"
slack_webhook_url:
- {{ slack_webhook_url }}
