[server]
url={{ urls_public.catalog }}/{{ csw_url_path }}
mimetype=application/xml; charset=UTF-8
encoding=UTF-8
language=en-US
maxrecords=10
#loglevel=DEBUG
#logfile=/tmp/pycsw.log
profiles=apiso
 
[manager]
transactions=false
 
[metadata:main]
identification_title=CSW interface for catalog.data.gov
identification_abstract= {{ csw_abstract }}
identification_keywords_type=theme
identification_fees=None
identification_accessconstraints=None
provider_name=U.S. General Services Administration
provider_url=http://www.gsa.gov
contact_name=Data.gov Administrator
contact_position=Data.gov Site Administrator
contact_address=1800 F St NW
contact_city=Washington
contact_stateorprovince=DC
contact_postalcode=20405
contact_country=USA
contact_phone=(800)-488-3111
contact_fax=DSN 465-1416
contact_email=datagov@gsa.gov
contact_url=http://data.gov/contact
contact_hours=9:00am - 4:30pm ET
contact_instructions=Preferred method through email datagov@gsa.gov or contact URL http://data.gov/contact
contact_role=publisher,custodian
 
[repository]
db_user = {{ catalog_db_user }}
db_pass = {{ catalog_db_pass }}
db_server = localhost
db_database = {{ catalog_pycsw_db_name }}
database=postgresql://%(db_user)s:%(db_pass)s@%(db_server)s/%(db_database)s
table=records
filter={{ csw_filter }}

[defaults]
ckan_url={{ urls_private.catalog }}/
