[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
ansible = "*"
molecule = "*"
docker-py = "*"

[requires]
python_version = "3.6"

[scripts]
test = "molecule test"
test-all-tags = "molecule test --tags db-init, migrate"
debug = "molecule --debug test"
converge = "molecule converge"
cleanup = "molecule destroy"