## This edit to the /etc/sudoers file has been made on behalf of GSA SecOps in conjunction with SSH key based authentication for Security Scanning
{{ secops_user }}        ALL=(ALL)       NOPASSWD: ALL
