[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
ansible = "*"
molecule = "*"
docker-py = "*"

[requires]
python_version = "3.6"

[scripts]
test ="molecule test"
debug ="molecule --debug test"
converge ="molecule converge"
cleanup ="molecule destroy"
login-trusty ="molecule login --host trusty"
login-bionic ="molecule login --host bionic"