# New Relic
NEW_RELIC_LICENSE_KEY="{{ newrelic_license_key }}"
NEW_RELIC_APP_NAME="{{ newrelic_app_name }}"
NEW_RELIC_MONITOR_MODE="{{ newrelic_enabled }}"
NEW_RELIC_LOG=/var/log/inventory/new_relic.log
NEW_RELIC_LOG_LEVEL=info
NEW_RELIC_HOST=gov-collector.newrelic.com
CKAN_INI=/etc/ckan/production.ini