#!/bin/bash

# https://github.com/gsa/data.gov/issues/682
# delete stale session rows in beaker_cache table.

age_in_days=7

echo

date +"%Y-%m-%d %T"

psql -h {{ inventory_ckan_db_host }} -U {{ inventory_db_user }} {{ inventory_db_name }} <<SQL
DELETE FROM BEAKER_CACHE WHERE ACCESSED < CURRENT_TIMESTAMP - INTERVAL '$age_in_days day'
SQL
