<source>
  type tail
  format multiline
  format_firstline /^(?<time>[^ ]*\s*[^ ]* [^ ]*)/
  format1 /^(?<time>[^ ]*\s*[^ ]* [^ ]*) (?<level>[A-Z]*) (?<message>.*)/
  path /var/log/supervisord.log
  pos_file /var/log/td-agent/supervisord.log.pos
  tag "{{ system }}.harvester.supervisord"
</source>
<source>
  type tail
  format multiline
  format_firstline /\d{4}-\d{1,2}-\d{1,2}/
  format1 /^(?<time>\d{4}-\d{1,2}-\d{1,2} \d{1,2}:\d{1,2}:\d{1,2},\d{1,3}) (?<level>[^\s]+)(?<message>.*)/
  path /var/log/harvester_run.log
  pos_file /var/log/td-agent/harvester_run.log.pos
  tag "es.harvester.harvester_run"
</source>
<source>
  type tail
  format multiline
  format_firstline /\d{4}-\d{1,2}-\d{1,2}/
  format1 /^(?<time>\d{4}-\d{1,2}-\d{1,2} \d{1,2}:\d{1,2}:\d{1,2},\d{1,3}) (?<level>[^\s]+)(?<message>.*)/
  path /var/log/fetch-consumer.log
  pos_file /var/log/td-agent/fetch-consumer.log.pos
  tag "{{ system }}.harvester.fetch-consumer"
</source>
<source>
  type tail
  format multiline
  format_firstline /\d{4}-\d{1,2}-\d{1,2}/
  format1 /^(?<time>\d{4}-\d{1,2}-\d{1,2} \d{1,2}:\d{1,2}:\d{1,2},\d{1,3}) (?<level>[^\s]+)(?<message>.*)/
  path /var/log/gather-consumer.log
  pos_file /var/log/td-agent/gather-consumer.log.pos
  tag "{{ system }}.harvester.gather-consumer"
</source>
<source>
  type tail
  format multiline
  format_firstline /\d{4}-\d{1,2}-\d{1,2}/
  format1 /^(?<time>\d{4}-\d{1,2}-\d{1,2} \d{1,2}:\d{1,2}:\d{1,2},\d{1,3}) (?<level>[^\s]+)(?<message>.*)/
  path /var/log/clean_deleted.log
  pos_file /var/log/td-agent/clean_deleted.log.pos
  tag "{{ system }}.harvester.clean_deleted"
</source>
<source>
  type tail
  format multiline
  format_firstline /\d{4}-\d{1,2}-\d{1,2}/
  format1 /^(?<time>\d{4}-\d{1,2}-\d{1,2} \d{1,2}:\d{1,2}:\d{1,2},\d{1,3}) (?<level>[^\s]+)(?<message>.*)/
  path /var/log/ckan_tracking.log
  pos_file /var/log/td-agent/ckan_tracking.log.pos
  tag "{{ system }}.harvester.ckan_tracking"
</source>
<source>
  type tail
  format multiline
  format_firstline /\d{4}-\d{1,2}-\d{1,2}/
  format1 /^(?<time>\d{4}-\d{1,2}-\d{1,2} \d{1,2}:\d{1,2}:\d{1,2},\d{1,3}) (?<level>[^\s]+)(?<message>.*)/
  path /var/log/ckan_report.log
  pos_file /var/log/td-agent/ckan_report.log.pos
  tag "{{ system }}.harvester.ckan_report"
</source>
<source>
  type tail
  format multiline
  format_firstline /\d{4}-\d{1,2}-\d{1,2}/
  format1 /^(?<time>\d{4}-\d{1,2}-\d{1,2} \d{1,2}:\d{1,2}:\d{1,2},\d{1,3}) (?<level>[^\s]+)(?<message>.*)/
  path /var/log/db_solr_sync.log
  pos_file /var/log/td-agent/db_solr_sync.log.pos
  tag "{{ system }}.harvester.db_solr_sync"
</source>
<source>
  type tail
  format multiline
  format_firstline /\d{4}-\d{1,2}-\d{1,2}/
  format1 /^(?<time>\d{4}-\d{1,2}-\d{1,2} \d{1,2}:\d{1,2}:\d{1,2},\d{1,3}) (?<level>[^\s]+)(?<message>.*)/
  path /var/log/harvest_job_cleanup.log
  pos_file /var/log/td-agent/harvest_job_cleanup.log.pos
  tag "{{ system }}.harvester.harvest_job_cleanup"
</source>
<source>
  type tail
  format multiline
  format_firstline /\d{4}-\d{1,2}-\d{1,2}/
  format1 /^(?<time>\d{4}-\d{1,2}-\d{1,2} \d{1,2}:\d{1,2}:\d{1,2},\d{1,3}) (?<level>[^\s]+)(?<message>.*)/
  path /var/log/ckan-combine-feeds.log
  pos_file /var/log/td-agent/ckan-combine-feeds.log.pos
  tag "{{ system }}.harvester.ckan-combine-feeds"
</source>
<source>
  type tail
  format multiline
  format_firstline /\d{4}-\d{1,2}-\d{1,2}/
  format1 /^(?<time>\d{4}-\d{1,2}-\d{1,2} \d{1,2}:\d{1,2}:\d{1,2},\d{1,3}) (?<level>[^\s]+)(?<message>.*)/
  path /var/log/ckan-export-csv.log
  pos_file /var/log/td-agent/ckan-export-csv.log.pos
  tag "{{ system }}.harvester.ckan-export-csv"
</source>
<source>
  type tail
  format multiline
  format_firstline /\d{4}-\d{1,2}-\d{1,2}/
  format1 /^(?<time>\d{4}-\d{1,2}-\d{1,2} \d{1,2}:\d{1,2}:\d{1,2},\d{1,3}) (?<level>[^\s]+)(?<message>.*)/
  path /var/log/ckan_qa.log
  pos_file /var/log/td-agent/ckan_qa.log.pos
  tag "{{ system }}.harvester.ckan_qa"
</source>
<source>
  type tail
  format multiline
  format_firstline /\d{4}-\d{1,2}-\d{1,2}/
  format1 /^(?<time>\d{4}-\d{1,2}-\d{1,2} \d{1,2}:\d{1,2}:\d{1,2},\d{1,3}) (?<level>[^\s]+)(?<message>.*)/
  path /var/log/qa-update.log
  pos_file /var/log/td-agent/qa-update.log.pos
  tag "{{ system }}.harvester.qa-update"
</source>
<source>
  type tail
  format multiline
  format_firstline /\d{4}-\d{1,2}-\d{1,2}/
  format1 /^(?<time>\d{4}-\d{1,2}-\d{1,2} \d{1,2}:\d{1,2}:\d{1,2},\d{1,3}) (?<level>[^\s]+)(?<message>.*)/
  path /var/log/pycsw_load.log
  pos_file /var/log/td-agent/pycsw_load.log.pos
  tag "{{ system }}.harvester.pycsw_load"
</source>
<source>
  type tail
  format multiline
  format_firstline /\d{4}-\d{1,2}-\d{1,2}/
  format1 /^(?<time>\d{4}-\d{1,2}-\d{1,2} \d{1,2}:\d{1,2}:\d{1,2},\d{1,3}) (?<level>[^\s]+)(?<message>.*)/
  path /var/log/pycsw_keywords.log
  pos_file /var/log/td-agent/pycsw_keywords.log.pos
  tag "{{ system }}.harvester.pycsw_keywords"
</source>
<source>
  type tail
  format multiline
  format_firstline /\d{4}-\d{1,2}-\d{1,2}/
  format1 /^(?<time>\d{4}-\d{1,2}-\d{1,2} \d{1,2}:\d{1,2}:\d{1,2},\d{1,3}) (?<level>[^\s]+)(?<message>.*)/
  path /var/log/pycsw_fts.log
  pos_file /var/log/td-agent/pycsw_fts.log.pos
  tag "{{ system }}.harvester.pycsw_fts"
</source>
