<source>
  type tail
  format apache2
  path /var/log/apache2/ckan.custom.log
  pos_file /var/log/td-agent/ckan.custom.log.pos
  tag "{{ system }}.apache.access"
</source>
<source>
  type tail
  format apache_error
  path /var/log/apache2/ckan.error.log
  pos_file /var/log/td-agent/ckan.error.log.pos
  tag "{{ system }}.apache.error"
</source>
<source>
  type tail
  format apache2
  path /var/log/apache2/datapusher.custom.log
  pos_file /var/log/td-agent/datapusher.custom.log.pos
  tag "{{ system }}.apache.access"
</source>
<source>
  type tail
  format apache_error
  path /var/log/apache2/datapusher.error.log
  pos_file /var/log/td-agent/datapusher.error.log.pos
  tag "{{ system }}.apache.error"
</source>
