<source>
  type tail
  format apache2
  path /var/log/apache2/access.log
  pos_file /var/log/td-agent/ckan.access.log.pos
  tag "{{ system }}.apache.access"
</source>
<source>
  type tail
  format apache_error
  path /var/log/apache2/error.log
  pos_file /var/log/td-agent/access.log.pos
  tag "{{ system }}.apache.error"
</source>
<source>
  type tail
  format none
  path /var/log/data-federation/jekyll-rebuilder.log
  pos_file /var/log/td-agent/data-federation-jekyll-rebuilder.log.pos
  tag "{{ system }}.jekyll.datafederation-jekyll-rebuilder"
</source>
<source>
  type tail
  format none
  path /var/log/sdg-indicators/jekyll-rebuilder.log
  pos_file /var/log/td-agent/sdg-indicators-jekyll-rebuilder.log.pos
  tag "{{ system }}.jekyll.sdg-indicators-jekyll-rebuilder"
</source>
<source>
  type tail
  format multiline
  format_firstline /^\[[^ ]* (?<time>[^\]]*)\]/
  format1 /^\[[^ ]* (?<time>[^\]]*)\] (?<level>[A-Z]*) (?<message>.*)/
  path /var/log/jekyll-sdg-indicators.log
  pos_file /var/log/td-agent/jekyll-sdg-indicators.log.pos
  tag "{{ system }}.jekyll.jekyll-sdg-indicators"
</source>
<source>
  type tail
  format multiline
  format_firstline /^\[[^ ]* (?<time>[^\]]*)\]/
  format1 /^\[[^ ]* (?<time>[^\]]*)\] (?<level>[A-Z]*) (?<message>.*)/
  path /var/log/jekyll-data-federation.log
  pos_file /var/log/td-agent/jekyll-data-federation.log.pos
  tag "{{ system }}.jekyll.jekyll-data-federation"
</source>
