<source>
  type tail
  format multiline
  format_firstline /[A-Za-z]{3} [0-9]{1,2}, [0-9]{4} [0-9]{1,2}:[0-9]{1,2}:[0-9]{1,2} [A-Z]{2}/
  format1 /^(?<time>[A-Za-z]{3} [0-9]{1,2}, [0-9]{4} [0-9]{1,2}:[0-9]{1,2}:[0-9]{1,2} [A-Z]{2}) (?<class>.*) (?<method>.*)\n/
  format2 /(?<level>[A-Z]*): (?<message>.*)/
  path /var/log/tomcat6/catalina.0.log
  pos_file /var/log/td-agent/catalina.out.pos
  tag "es.catalina.out"
</source>
