<source>
  type tail
  format syslog
  path /var/log/auth.log
  pos_file /var/log/td-agent/auth.log.pos
  tag "{{ system }}.authlog"
</source>
<source>
  type tail
  format syslog
  path /var/log/syslog
  pos_file /var/log/td-agent/syslog.pos
  tag "{{ system }}.syslog"
</source>
