#
# CKAN - Pylons configuration
#
# These are some of the configuration options available for your CKAN
# instance. Check the documentation in 'doc/configuration.rst' or at the
# following URL for a description of what they do and the full list of
# available options:
#
# http://docs.ckan.org/en/latest/maintaining/configuration.html
#
# The %(here)s variable will be replaced with the parent directory of this file
#

[DEFAULT]

# WARNING: *THIS SETTING MUST BE SET TO FALSE ON A PRODUCTION ENVIRONMENT*
debug = false

[server:main]
use = egg:Paste#http
host = 0.0.0.0
port = 5000

[app:main]
use = egg:ckan
full_stack = true
cache_dir = /tmp/%(ckan.site_id)s/
beaker.session.key = ckan

# CKAN caching
ckan.cache_expires = 300

# This is the secret token that the beaker library uses to hash the cookie sent
# to the client. `paster make-config` generates a unique value for this each
# time it generates a config file.
beaker.session.secret = {{ ckan_instance_secret }}

beaker.session.type={{ ckan_session_store_type | default('ext:database') }}
beaker.session.cookie_expires=true
beaker.session.url=%(sqlalchemy.url)s
beaker.session.timeout=3000
beaker.session.lock_dir=/var/tmp/ckan/lock

# `paster make-config` generates a unique value for this each time it generates
# a config file.
app_instance_uuid = {{ ckan_instance_uuid }}

# repoze.who config
who.config_file = %(here)s/who.ini
who.log_level = warning
who.log_file = %(cache_dir)s/who_log.ini
# Session timeout (user logged out after period of inactivity, in seconds).
# Inactive by default, so the session doesn't expire.
who.timeout = 900
# who.httponly = True # DEFAULT True already
who.secure = {{ who_secure }}

## Database Settings
db_user = {{ catalog_db_user }}
db_pass = {{ catalog_db_pass }}
db_server = {{ catalog_ckan_db_host }}
db_database = {{ catalog_db_name }}
sqlalchemy.url = postgresql://%(db_user)s:%(db_pass)s@%(db_server)s/%(db_database)s

{% if sqlalchemy_pool_size is defined %}
sqlalchemy.pool_size = {{ sqlalchemy_pool_size }}
{% endif %}

{% if sqlalchemy_max_overflow is defined %}
sqlalchemy.max_overflow = {{ sqlalchemy_max_overflow }}
{% endif %}

## Site Settings

ckan.site_url = {{ ckan_site_domain }}

#ckan.use_pylons_response_cleanup_middleware = true

## Authorization Settings

ckan.auth.anon_create_dataset = false
ckan.auth.create_unowned_dataset = false
ckan.auth.create_dataset_if_not_in_organization = false
ckan.auth.user_create_groups = false
ckan.auth.user_create_organizations = false
ckan.auth.user_delete_groups = false
ckan.auth.user_delete_organizations = false
ckan.auth.create_user_via_api = false
ckan.auth.create_user_via_web = {{ ckan_create_user_via_web }}
ckan.auth.roles_that_cascade_to_sub_groups = admin


## Search Settings

ckan.site_id = geo.gov

solr_server = {{ catalog_ckan_solr_host }}
solr_url = http://%(solr_server)s:{{ catalog_ckan_solr_port }}/solr/catalog-next

#ckan.simple_search = 1
search.facets.default = 5
search.facets = groups tags res_format responsible-party frequency source_type
search.facets.responsible-party.title = Organizations
ckan.search.solr_commit = true

# skip doubling package_show queries to show tracking information
ckanext.datagovcatalog.add_packages_tracking_info = false

## Redis Settings

# URL to your Redis instance, including the database to be used.
# 'rediss' is not a typo!  It specifies redis proto over TLS

ckan.redis.url = {{ catalog_ckan_redis_url }}


## CORS Settings

# If cors.origin_allow_all is true, all origins are allowed.
# If false, the cors.origin_whitelist is used.
# ckan.cors.origin_allow_all = true
# cors.origin_whitelist is a space separated list of allowed domains.
# ckan.cors.origin_whitelist = http://example1.com http://example2.com


## Plugins Settings

# Note: Add ``datastore`` to enable the CKAN DataStore
#       Add ``datapusher`` to enable DataPusher
#		Add ``resource_proxy`` to enable resorce proxying and get around the
#		same origin policy
ckan.plugins = {{ (catalog_ckan_plugins_default + catalog_ckan_plugins_additional) | join(' ') }}

# Define which views should be created by default
# (plugins must be loaded in ckan.plugins)
#ckan.views.default_views = image_view text_view recline_view

ckan.spatial.validator.profiles = iso19139ngdc

## Front-End Settings
ckan.site_title = CKAN
ckan.site_logo = /images/logo-geodata-small.png
ckan.site_description =
ckan.favicon = /fanstatic/datagovtheme/images/favicon.ico
ckan.gravatar_default = identicon
ckan.preview.direct = png jpg gif
ckan.preview.loadable = html htm rdf+xml owl+xml xml n3 n-triples turtle plain atom csv tsv rss txt json

# package_hide_extras = for_search_index_only
#package_edit_return_url = http://another.frontend/dataset/<NAME>
#package_new_return_url = http://another.frontend/dataset/<NAME>
#ckan.recaptcha.version = 1
#ckan.recaptcha.publickey =
#ckan.recaptcha.privatekey =
#licenses_group_url = http://licenses.opendefinition.org/licenses/groups/ckan.json
#ckan.template_footer_end =

ckan.template_head_end = <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

## Internationalisation Settings
ckan.locale_default = en
ckan.locale_order = en pt_BR ja it cs_CZ ca es fr el sv sr sr@latin no sk fi ru de pl nl bg ko_KR hu sa sl lv
ckan.locales_offered =
ckan.locales_filtered_out = en_GB

## Feeds Settings

ckan.feeds.authority_name =
ckan.feeds.date =
ckan.feeds.author_name =
ckan.feeds.author_link =

## Storage Settings

ckan.storage_path = /var/lib/ckan
#ckan.max_resource_size = 10
#ckan.max_image_size = 2

# Resource Proxy settings
# Preview size limit, default: 1MB
ckan.resource_proxy.max_file_size = 1024 * 1024 * 50

## Activity Streams Settings

#ckan.activity_streams_enabled = true
#ckan.activity_list_limit = 31
#ckan.activity_streams_email_notifications = true
#ckan.email_notifications_since = 2 days
ckan.hide_activity_from_users = %(ckan.site_id)s


## Email settings

#email_to = you@yourdomain.com
#error_email_from = paste@localhost
#smtp.server = localhost
#smtp.starttls = False
#smtp.user = your_username@gmail.com
#smtp.password = your_password
smtp.mail_from = {{ catalog_ckan_email_from }}

ckan.tracking_enabled = True
set debug = False

## Spatial settings
ckanext.spatial.search_backend = solr

## Harvest settings
# ckanext-harvest will use ckan.redis.url if redis configuration
# is not specified here.

# Mark as finished Jobs in 'Running' status after x minutes (1440 min = 24 hours)
ckan.harvest.timeout = 1440

# define the time frame in days to clean the harvest logs
ckan.harvest.log_timeframe = 180

ckan.harvest.mq.type = redis
ckanext.harvest.email = on
ckan.harvest.status_mail.all=True

# FGDC service
ckanext.geodatagov.fgdc2iso_service = http://{{ catalog_ckan_fgdc2iso_host }}/fgdc2iso/

{% if catalog_ckan_saml2_enabled %}
## SAML2auth Settings
ckanext.saml2auth.idp_metadata.local_path=/etc/ckan/saml2/idp.xml
ckanext.saml2auth.key_file_path=/etc/ckan/saml2/pki/mykey.pem
ckanext.saml2auth.cert_file_path=/etc/ckan/saml2/pki/mycert.pem

ckanext.saml2auth.idp_metadata.location=local
ckanext.saml2auth.user_firstname=first_name
ckanext.saml2auth.user_lastname=last_name
ckanext.saml2auth.user_email=email
ckanext.saml2auth.allow_unknown_attributes=true
ckanext.saml2auth.sp.name_id_format=urn:oasis:names:tc:saml:2.0:nameid-format:persistent urn:oasis:names:tc:saml:2.0:nameid-format:transient urn:oasis:names:tc:saml:2.0:nameid-format:emailaddress
ckanext.saml2auth.entity_id={{ catalog_ckan_saml2_entity_id }}
ckanext.saml2auth.want_response_signed=false
ckanext.saml2auth.want_assertions_signed=false
ckanext.saml2auth.want_assertions_or_response_signed=true

{% if catalog_ckan_saml2_requested_authn_context | length > 0 %}
ckanext.saml2auth.requested_authn_context = {{ catalog_ckan_saml2_requested_authn_context | join(' ') }}
{% endif %}

ckanext.saml2auth.enable_ckan_internal_login=false
{% endif %}

# Google Analytics
{% if googleanalytics_ids | length > 0 %}

googleanalytics.ids = {{ googleanalytics_ids | join(' ') }}
googleanalytics.id = {{ googleanalytics_ids | first }}
googleanalytics.account = {{ googleanalytics_accout_name }}
{% if googleanalytics_token_filepath is defined %}
googleanalytics.token.filepath = {{ googleanalytics_token_filepath | default('') }}
{% endif %}

{% endif %}

# ckanext-geodatagov settings

ckanext.geodatagov.bureau_csv.url=https://resources.data.gov/schemas/dcat-us/v1.1/omb_bureau_codes.csv
ckanext.geodatagov.bureau_csv.url_default=https://resources.data.gov/schemas/dcat-us/v1.1/omb_bureau_codes.csv

ckanext.geodatagov.metrics_csv.aws_storage_path = gsa/catalog-next/metrics/
ckanext.geodatagov.s3sitemap.aws_storage_path = gsa/catalog-next/sitemap/
ckanext.geodatagov.jsonlexport.aws_storage_path = gsa/catalog-next/jsonl/
ckanext.geodatagov.s3sitemap.aws_s3_url = https://filestore.data.gov/

ckanext.geodatagov.aws_use_ami_role = true
ckanext.geodatagov.aws_bucket_name = {{ catalog_bucket_name }}
ckanext.geodatagov.aws_access_key_id = _placeholder
ckanext.geodatagov.aws_secret_access_key = _placeholder

# DataGovTheme settings

ckanext.datagovtheme.use.archiver=false
ckanext.datagovtheme.use.qa=false

# Archiver Settings

ckanext-archiver.cache_url_root={{ ckan_site_domain }}

## Logging configuration
[loggers]
keys = root, ckan, ckanext, saml2

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = WARNING
handlers = console

[logger_ckan]
level = INFO
handlers = console
qualname = ckan
propagate = 0

[logger_ckanext]
level = DEBUG
handlers = console
qualname = ckanext
propagate = 0

[logger_saml2]
level = INFO
handlers = console
qualname = saml2
propagate = 0

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s] %(message)s
