[plugin:auth_tkt]
use = repoze.who.plugins.auth_tkt:make_plugin
secret = {{ catalog_ckan_who_ini_secret }}

[general]
request_classifier = repoze.who.classifiers:default_request_classifier
challenge_decider = repoze.who.classifiers:default_challenge_decider

[identifiers]
plugins =
    auth_tkt

[authenticators]
plugins =
    auth_tkt
