#
# CKAN - Pylons configuration
#
# These are some of the configuration options available for your CKAN
# instance. Check the documentation in 'doc/configuration.rst' or at the
# following URL for a description of what they do and the full list of
# available options:
#
# http://docs.ckan.org/en/latest/maintaining/configuration.html
#
# The %(here)s variable will be replaced with the parent directory of this file
#

[DEFAULT]

# WARNING: *THIS SETTING MUST BE SET TO FALSE ON A PRODUCTION ENVIRONMENT*
debug = false

[server:main]
use = egg:Paste#http
host = 0.0.0.0
port = 5000

[app:celery]
REDIS_HOST = {{ REDIS_SERVER }}
BROKER_BACKEND = redis
BROKER_HOST = redis://%(REDIS_HOST)s/1
CELERY_RESULT_BACKEND = redis
REDIS_PORT = 6379
REDIS_DB = 0
REDIS_CONNECT_RETRY = True

[app:main]
use = egg:ckan
full_stack = true
cache_dir = /tmp/%(ckan.site_id)s/
beaker.session.key = ckan

# This is the secret token that the beaker library uses to hash the cookie sent
# to the client. `paster make-config` generates a unique value for this each
# time it generates a config file.
beaker.session.secret = {{ ckan_instance_secret }}

beaker.session.type=ext:database
beaker.session.cookie_expires=true
beaker.session.url=%(sqlalchemy.url)s
beaker.session.timeout=3000
beaker.session.lock_dir=/var/tmp/ckan/lock

# `paster make-config` generates a unique value for this each time it generates
# a config file.
app_instance_uuid = {{ ckan_instance_uuid }}

# repoze.who config
who.config_file = %(here)s/who.ini
who.log_level = warning
who.log_file = %(cache_dir)s/who_log.ini
# Session timeout (user logged out after period of inactivity, in seconds).
# Inactive by default, so the session doesn't expire.
who.timeout = 900
# who.httponly = True # DEFAULT True already
who.secure = {{ who_secure }}

## Database Settings
db_user = {{ catalog_db_user }}
db_pass = {{ catalog_db_pass }}
db_server = localhost
db_database = {{ catalog_db_name }}
sqlalchemy.url = postgresql://%(db_user)s:%(db_pass)s@%(db_server)s/%(db_database)s

#ckan.datastore.write_url = postgresql://ckan:pass@localhost/datastore
#ckan.datastore.read_url = postgresql://datastore:pass@localhost/datastore

# PostgreSQL' full-text search parameters
ckan.datastore.default_fts_lang = english
ckan.datastore.default_fts_index_method = gist

## Site Settings

ckan.site_url = {{ ckan_site_domain }}

#ckan.use_pylons_response_cleanup_middleware = true

## Authorization Settings

ckan.auth.anon_create_dataset = false
ckan.auth.create_unowned_dataset = false
ckan.auth.create_dataset_if_not_in_organization = false
ckan.auth.user_create_groups = false
ckan.auth.user_create_organizations = false
ckan.auth.user_delete_groups = false
ckan.auth.user_delete_organizations = false
ckan.auth.create_user_via_api = false
ckan.auth.create_user_via_web = true
ckan.auth.roles_that_cascade_to_sub_groups = admin


## Search Settings

ckan.site_id = geo.gov

solr_server = 127.0.0.1
solr_url = http://%(solr_server)s:8080/solr/{{app_type}}

#ckan.simple_search = 1
search.facets.default = 5
search.facets = groups tags res_format responsible-party frequency source_type
search.facets.responsible-party.title = Organizations
ckan.search.solr_commit = true


## CORS Settings

# If cors.origin_allow_all is true, all origins are allowed.
# If false, the cors.origin_whitelist is used.
# ckan.cors.origin_allow_all = true
# cors.origin_whitelist is a space separated list of allowed domains.
# ckan.cors.origin_whitelist = http://example1.com http://example2.com


## Plugins Settings

# Note: Add ``datastore`` to enable the CKAN DataStore
#       Add ``datapusher`` to enable DataPusher
#		Add ``resource_proxy`` to enable resorce proxying and get around the
#		same origin policy
ckan.plugins = stats geodatagov datagov_harvest ckan_harvester geodatagov_geoportal_harvester z3950_harvester arcgis_harvester waf_harvester_collection geodatagov_csw_harvester geodatagov_doc_harvester geodatagov_waf_harvester geodatagov_miscs spatial_metadata spatial_query resource_proxy spatial_harvest_metadata_api datagovtheme datajson_harvest datajson archiver qa googleanalyticsbasic ga-report extlink report broken_link_report

# Define which views should be created by default
# (plugins must be loaded in ckan.plugins)
#ckan.views.default_views = image_view text_view recline_view


## Front-End Settings
ckan.site_title = CKAN
ckan.site_logo = /images/logo-geodata-small.png
ckan.site_description =
ckan.favicon = /fanstatic/datagovtheme/images/favicon.ico
ckan.gravatar_default = identicon
ckan.preview.direct = png jpg gif
ckan.preview.loadable = html htm rdf+xml owl+xml xml n3 n-triples turtle plain atom csv tsv rss txt json

# package_hide_extras = for_search_index_only
#package_edit_return_url = http://another.frontend/dataset/<NAME>
#package_new_return_url = http://another.frontend/dataset/<NAME>
#ckan.recaptcha.version = 1
#ckan.recaptcha.publickey =
#ckan.recaptcha.privatekey =
#licenses_group_url = http://licenses.opendefinition.org/licenses/groups/ckan.json
#ckan.template_footer_end =

ckan.template_head_end = <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

## Internationalisation Settings
ckan.locale_default = en
ckan.locale_order = en pt_BR ja it cs_CZ ca es fr el sv sr sr@latin no sk fi ru de pl nl bg ko_KR hu sa sl lv
ckan.locales_offered =
ckan.locales_filtered_out = en_GB

## Feeds Settings

ckan.feeds.authority_name =
ckan.feeds.date =
ckan.feeds.author_name =
ckan.feeds.author_link =

## Storage Settings

#ckan.storage_path = /var/lib/ckan
#ckan.max_resource_size = 10
#ckan.max_image_size = 2

## Datapusher settings

# Make sure you have set up the DataStore

#ckan.datapusher.formats = csv xls xlsx tsv application/csv application/vnd.ms-excel application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
#ckan.datapusher.url = http://127.0.0.1:8800/

# Resource Proxy settings
# Preview size limit, default: 1MB
ckan.resource_proxy.max_file_size = 1024 * 1024 * 50

## Activity Streams Settings

#ckan.activity_streams_enabled = true
#ckan.activity_list_limit = 31
#ckan.activity_streams_email_notifications = true
#ckan.email_notifications_since = 2 days
ckan.hide_activity_from_users = %(ckan.site_id)s


## Email settings

#email_to = you@yourdomain.com
#error_email_from = paste@localhost
#smtp.server = localhost
#smtp.starttls = False
#smtp.user = your_username@gmail.com
#smtp.password = your_password
smtp.mail_from = no-reply@data.gov

ckan.tracking_enabled = True
set debug = False
ckan.harvest.mq.type = redis
ckan.harvest.mq.hostname = localhost
ckanext.harvest.email = on
ckan.resource_proxy_enabled = 1
ckan.spatial.validator.profiles = iso19139ngdc
ckanext.spatial.search_backend = solr
ckanext.spatial.common_map.type = custom
ckanext.spatial.common_map.custom.url = //{s}.tile.openstreetmap.org/{z}/{x}/{y}.png
ckanext.spatial.common_map.subdomains = abc
ckanext.spatial.common_map.attribution = Map tiles &amp; Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY SA</a>.
ckanext.spatial.harvest.xslt_html_content = ckanext.datagovtheme:templates/xslt/iso-details.xslt
ckanext.spatial.harvest.xslt_html_content_original = ckanext.datagovtheme:templates/xslt/esri-iso-fgdc-details.xslt
ckanext.geodatagov.fgdc2iso_service = http://localhost:8080/fgdc2iso/
ckanext.geodatagov.spatial_preview.url = https://climateathome.org/viewer/
ckanext.geodatagov.spatial_preview.formats = wms kml kmz
ckanext.geodatagov.dynamic_menu.url_default = http://www.data.gov/app/plugins/datagov-custom/wp_download_links.php
ckanext.geodatagov.dynamic_menu.url =
ckanext.geodatagov.bureau_csv.url_default = https://project-open-data.cio.gov/data/omb_bureau_codes.csv
ckanext.geodatagov.bureau_csv.url = https://project-open-data.cio.gov/data/omb_bureau_codes.csv
ckanext.geodatagov.doi.url = https://data.doi.gov/

ckanext.geodatagov.aws_use_ami_role = true
ckanext.geodatagov.aws_bucket_name = {{ catalog_bucket_name }}
ckanext.geodatagov.aws_access_key_id = _placeholder
ckanext.geodatagov.aws_secret_access_key = _placeholder

ckanext.geodatagov.metrics_csv.aws_storage_path = gsa/catalog/metrics/
ckanext.geodatagov.s3sitemap.aws_storage_path = gsa/catalog/sitemap/
ckanext.geodatagov.jsonlexport.aws_storage_path = gsa/catalog/jsonl/
ckanext.geodatagov.s3sitemap.aws_s3_url = https://filestore.data.gov/

## SAML2 Settings
saml2.site_url = {{ saml2_site_url }}
saml2.config_path = %(here)s/saml2

saml2.user_mapping =
    email~maxemail
    fullname~field_display_name
    id~maxid
    name~maxemail

saml2.organization_mapping =
    name~field_unique_id
    title~field_organization
    extras:organization_type~field_organization_type

saml2.max_redirect_slo =
saml2.max_security_level = https://max.gov/icam/2015/10/securityLevels/securePlus2

googleanalytics.ids = UA-42145528-2 UA-17367410-17
googleanalytics.id = UA-42145528-2
googleanalytics.account = GSA Data.gov
googleanalytics.token.filepath = /etc/ckan/token.dat
ga-report.period = monthly
ga-report.bounce_url = /

## Logging configuration
[loggers]
keys = root, ckan, ckanext

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = INFO
handlers = console

[logger_ckan]
level = INFO
handlers = console
qualname = ckan
propagate = 0

[logger_ckanext]
level = DEBUG
handlers = console
qualname = ckanext
propagate = 0

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s] %(message)s
