---
name: disable egress proxy

on:
  workflow_dispatch:
    inputs:
      appName:
        description: 'App Name'
        required: true
        type: choice
        options:
          - "catalog-web"
          - dashboard
          - "dashboard-stage"
          - inventory
      appSpace:
        description: 'Cloud Foundry Space'
        required: true
        type: choice
        options:
          - development
          - staging
          - prod

# jobs need to be triplicated due to git hub config being in environment for each cf space
jobs:
  disable-egress-development:
    if: github.event.inputs.appSpace == 'development'
    concurrency: development
    name: disable egress (dev)
    environment: development
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: disable egress
        uses: cloud-gov/cg-cli-tools@main
        with:
          command: bin/disable-egress ${{ github.event.inputs.appName }}
          cf_org: gsa-datagov
          cf_space: ${{ github.event.inputs.appSpace }}
          cf_username: ${{secrets.CF_SERVICE_USER}}
          cf_password: ${{secrets.CF_SERVICE_AUTH}}
  disable-egress-staging:
    if: github.event.inputs.appSpace == 'staging'
    concurrency: staging
    name: disable egress (staging)
    environment: staging
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: disable egress
        uses: cloud-gov/cg-cli-tools@main
        with:
          command: bin/disable-egress ${{ github.event.inputs.appName }}
          cf_org: gsa-datagov
          cf_space: ${{ github.event.inputs.appSpace }}
          cf_username: ${{secrets.CF_SERVICE_USER}}
          cf_password: ${{secrets.CF_SERVICE_AUTH}}
  disable-egress-production:
    if: github.event.inputs.appSpace == 'prod'
    concurrency: production
    name: disable egress (production)
    environment: production
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: disable egress
        uses: cloud-gov/cg-cli-tools@main
        with:
          command: bin/disable-egress ${{ github.event.inputs.appName }}
          cf_org: gsa-datagov
          cf_space: ${{ github.event.inputs.appSpace }}
          cf_username: ${{secrets.CF_SERVICE_USER}}
          cf_password: ${{secrets.CF_SERVICE_AUTH}}
